body, html {
    height: 100%;
    background-color: #E9EBEC;
}

.header-img {
    background-image: url('img/background-ube-cheesecakes.jpg');
    height: 490px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.main {
    z-index: 1;
    position: absolute;
    background-color: white;
    height: 405%;
    width: 75%;
    top: 60%;
    left: 12.5%;
    border-top: 10px solid #B26317;
    padding: 0px 120px;
    box-sizing: border-box;
    color: #333A3E; 
}

h1 {
    font-size: 8rem;
    font-family: "Bebas Neue";
    margin-top: 10%
}

h3 {
    /* padding-right: 50%; */
    font-size: 2rem;
    /* margin-top: -130px; */
    margin-top: -1rem;
    font-family: "Sora";
    margin-bottom: 2rem;

}

h4 {
    font-family: "Open Sans";
    font-style: italic;
    margin-bottom: 2%;
    font-size: 1rem;
    /* font-weight: bold; */
}

#title {
    border: 2px solid #333A3E;
    width: 50%;
    margin-top: -15px;
    margin-bottom: 30px;
    margin-left: 0;
}

.flex-container-m {
    display: flex;
    flex-direction: column;
}

#dropcap {
    float: left;
    line-height: 110%;
    /* width: .5em; */
    font-size: 400%;
    font-family: "Bebas Neue";
    margin-bottom: -20px;
    color: #B26317;
    margin-right: 10px;
}

p {
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 2; 
}

.q1-wrap {
    z-index: 0;
    position: relative;
}

.q1-back {
    z-index: -1;
    position: absolute;
    background-color: #F1EBE4;
    height: 65%;
    width: 73%;
    margin-top: 50px;
    margin-left: 90px;
}


#q1-vert {
    border-left: 6px solid #B26317;
    height: 14rem;
    margin-top: 50px;
}

.flex-container-q {
    display: flex;
    width: 90%;
    margin-left: 60px;
    z-index: 2;
    position: relative;
}

.q1 {
    z-index: 1;
    position: absolute;
    margin-left: 60px;
}

.q-body {
    font-family: "Sora";
    font-weight: 600;
    font-size: 30px;
    line-height: 1.4;
    margin-top: 10%;
}

#q1-top {
    font-size: 1000%;
    font-family:"Sora";
    float: left;
    width: .5em;
    margin-left: 30px;
}

#q1-bot {
    font-size: 1000%;
    font-family:"Sora";
    float: right;
    width: .5em;
    margin-right: 60px;
    margin-top: 100px;
}

#p2 {
    margin-top: -1rem;
}

.flex-container-p {
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    margin-bottom: 30px;
}

.mid-img {
    width: 180%;
    margin-left: -6rem;
}

#q2-wrap {
    z-index: 0;
    position: relative;
}

#q2-body {
    text-align: right;
    padding-left: 30%;
    margin-right: 10%;
}

.q2-back {
    z-index: -1;
    position: absolute;
    background-color: #F1EBE4;
    height: 35%;
    width: 40%;
    right: 100px;
    float: right;
    margin-top: 6rem;
}

.q2 {
    z-index: 1;
    border-right: 6px solid #B26317;
}

.rec {
    background-color: #F1EBE4;
    border-bottom: 6px solid #B26317;
    /* height: 350px; */
    height: 20%;
    width: 145%;
    margin-top: 50px;
    margin-left: -200px;
    margin-bottom: 30px;
    padding: 20px 60px;
    box-sizing: border-box;
}

h2 {
    font-family: "Sora";
    font-size: 38px;
    font-weight: 600;
}

#last-pic-container {
    position: relative;
}

#last-pic {
    position: absolute;
    height: 75%;
    right: -12rem;
}

#p4 {
    width: 40%;
}

.flex-container-t {
    display: flex;
    margin-top: 50px;
}

#bottom {
    border: 2px solid #333A3E;
    width: 75%;
    margin-top: 140px;
}

#details {
    background-color: #F1EBE4;
    border-bottom: 6px solid #B26317;
    height: 18%;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 50px 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 2%;
    
}

#map {
    height: 100%;
    width: 50%;
    float: right;
}

.info {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-right: 10px;    
}

.flex-child-s {
    margin-left: 25px;
}

a:link {
    color: #333A3E;
}

a:visited {
    color: #333A3E;
}

a:hover {
    color: #B26317;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 30px;
    font-family: "Sora";
    font-size: 18px;
    line-height: 120%;
    text-align: left;
    margin-left: -10%;
}

/* #icon-link {
    display: flex;
}  */

#addr {
    text-align-last: center;
}

.icon {
    position: relative;
    top: 15px;
    margin-right: 10px;
    fill: #333A3E;
}

.fa-map-marker {
    margin-left: 10px;
    margin-right: 30px;
}

.fa-phone {
    margin-left: 5px;
    margin-right: 20px;
}

#det-title {
    border: 2px solid #333A3E;
    width: 70%;
    /* margin-top: -25px; */
    margin-bottom: 30px;
    margin-left: 0;
}