#background-div {
    position: relative;
    background-image: url('./img/international-district.png');
    height: 490px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#bottom-left {
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: white;
}

#bottom-left > h1 {
    font-weight: 700;
    font-family: "Sora";
    font-size: xxx-large;
}

#about-text {
    background-color: #D8DCDE;
    padding: 4em;
}

#about-text > p {
    padding: 1em;
    padding-bottom: 2.5em;
    font-size: larger;
    font-family: "Open Sans";
} 

#creators {
    margin-top: 3.5rem;
}

#creators > h2 {
    font-weight: 700;
    padding-bottom: 2rem;
    font-family: "Sora";
    text-align: center;
}

.email, .github, .linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .mail-icon, .github-icon, .linkedin-icon {
    margin-right: 10px;
    margin-bottom: 2px;
} */

.Steven, .Damita, .Phung, .Chloe {
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
}

#creators {
    margin-bottom: 5rem;
}

.name {
    font-family: "Bebas Neue";
    margin-top: .5rem;
}

@media (min-width: 1000px) {
#creators-details {
    display: flex;
    justify-content: space-evenly;
}

/* .mail-icon, .github-icon, .linkedin-icon {
    margin-right: 10px;
    margin-bottom: 2px;
} */

.Steven, .Damita, .Phung, .Chloe {
    transition: transform 400ms;
}

.Steven:hover, .Damita:hover, .Phung:hover, .Chloe:hover{
    transform: scale(1.06);
}
}

