.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10%;
    background-color: transparent;
    border-top: none;
}

#color-block {
    background-color: white;
    width: 130%;
    padding: 4em;
    border-top: 10px solid #B26317;
}

.quotes {
    margin-top: 2em;
}

img {
    max-height: 350px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.img-txt-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
}

#details {
    display: flex;
    flex-direction: column;
    height: auto;
}

#details ul {
    padding: 0;
}

.map img {
    max-height: 300px;
}

#addr {
    text-align-last: auto;
}

.p4 {
    width: 90%;
}

.noodles {
    float: right;
}