@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&family=Sora&display=swap');

.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
  
.main-content, .page-header {
  width: 100%;
}
  
.message {
  background-color: #D8DCDE;
  font-family: 'Open Sans';
  color: black;
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  min-height: 300px;
}

.home-button {
  background-color: #B26317;
  color: white;
  font-family: 'Sora';
  border-radius: 10px;
  border: none;
  width: 150px;
  height: 40px;
}

.home-button:hover {
  color: #D8DCDE;
}

.home-header {
  width: 100%;
}

.mission-statement p, #mission-button, #intro-button, .intro p {
  margin-left: 3em;
  margin-right: 3em;
  max-width: 500px;
}

#mission-button {
  text-align: right;
}
  
.page-footer {
  font-family: 'Sora';
  width: 100%;
  font-size: 1.25rem;
  display: flex;
  align-items: flex-start;
  padding-left: 1.5em;
}


.featured-story {
  width: 100%;
  font-family: 'Open Sans';
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.featured-story img {
  max-height: 600px;
  padding: 2em;
}
  
.story-title {
  max-width: 500px;
}

.home-story-img p {
  font-size: 10pt;
}
  
.home-story-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-h2 {
  font-family: 'Sora';
  font-weight: bold;
}

.message p, .intro p {
  font-weight: 550;
}

.home-h3 {
  margin-top: 0;
}

#todays-story {
  color: white;
}

#todays-story:hover {
  color: #D8DCDE;
  text-decoration: none;
}