.phnom-penh-story-main {
    z-index: 1;
    position: absolute;
    background-color: #E9EBEC;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    top: 60%;
    left: 12.5%;
    padding: 0px 120px;
    box-sizing: border-box;
    color: #333A3E; 
}

#phnom-penh-story {
    background-color: white;
    width: 130%;
    padding: 4em;
    border-top: 10px solid #B26317;
}

#phnom-penh-story h1 {
    font-size: 100px;
    font-family: "Bebas Neue";
}

#phnom-penh-story h3 {
    padding-right: 50%;
    font-size: 24px;
    font-family: "Sora";
}

#phnom-penh-story h4 {
    font-family: "Open Sans";
    font-style: italic;
}

#title {
    border: 2px solid #333A3E;
    width: 50%;
    margin-top: -15px;
    margin-bottom: 30px;
    margin-left: 0;
}

.phnom-penh-flex-container-m {
    display: flex;
    flex-direction: column;
}

#phnom-penh-dropcap {
    float: left;
    line-height: 120%;
    width: .5em;
    font-size: 400%;
    font-family: "Bebas Neue";
    margin-bottom: -20px;
    color: #B26317;
}

.phnom-penh-parag {
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 2; 
}

.phnom-penh-q-body {
    font-family: "Sora";
    font-weight: 600;
    font-size: 30px;
    line-height: 2;
}

.phnom-penh-q1-wrap {
    z-index: 0;
    position: relative;
}

.phnom-penh-q1-back {
    z-index: -1;
    position: absolute;
    background-color: #F1EBE4;
    height: 120px;
    width: 68%;
    margin-top: 50px;
    margin-left: 90px;
}

#phnom-penh-q1-vert {
    border-left: 6px solid #B26317;
    height: 140px;
    margin-top: 50px;
}

.phnom-penh-flex-container-q {
    display: flex;
    width: 90%;
    margin-left: 60px;
    z-index: 2;
    position: relative;
}

.phnom-penh-q1 {
    z-index: 1;
    position: absolute;
    margin-left: 60px;
}

#phnom-penh-q1-top {
    font-size: 1000%;
    font-family:"Sora";
    float: left;
    width: .5em;
    margin-left: 30px;
}

#phnom-penh-q1-bot {
    font-size: 1000%;
    font-family:"Sora";
    float: right;
    width: .5em;
    margin-right: 60px;
    margin-top: 100px;
}

#phnom-penh-p2 {
    margin-top: -50px;
}

.phnom-penh-flex-container-p {
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    margin-bottom: 30px;
}

.phnom-penh-mid-img {
    width: 180%;
    margin-left: -200px;
}

#phnom-penh-q2-wrap {
    z-index: 0;
    position: relative;
}

#phnom-penh-q2-body {
    text-align: right;
    padding-left: 30%;
    margin-right: 10%;
}

.phnom-penh-q2-back {
    z-index: -1;
    position: absolute;
    background-color: #F1EBE4;
    height: 45%;
    width: 50%;
    right: 100px;
    float: right;
    margin-top: 80px;
}

.phnom-penh-q2 {
    z-index: 1;
    border-right: 6px solid #B26317;
}

.phnom-penh-rec {
    background-color: #F1EBE4;
    border-bottom: 6px solid #B26317;
    height: 350px;
    width: 1450px;
    margin-top: 50px;
    margin-left: -200px;
    margin-bottom: 30px;
    padding: 20px 60px;
    box-sizing: border-box;
}

.phnom-penh-info h2 {
    font-family: "Sora";
    font-size: 38px;
    font-weight: 600;
}

.phnom-penh-p4 {
    width: 90%;
}

.phnom-penh-flex-container-t {
    display: flex;
    margin-top: 50px;
}

#phnom-penh-bottom {
    border: 2px solid #333A3E;
    width: 75%;
    margin-top: 50px;
}

#phnom-penh-details {
    background-color: #F1EBE4;
    border-bottom: 6px solid #B26317;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 50px 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#phnom-penh-map {
    height: 100%;
    width: 50%;
    float: right;
}

.phnom-penh-info {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;    
}

.phnom-penh-flex-child-s {
    margin-left: 25px;
}

ul.phnom-penh-list {
    list-style: none;
}

.phnom-penh-list li {
    margin-bottom: 30px;
    font-family: "Sora";
    font-size: 18px;
    line-height: 120%;
    text-align: left;
}

#phnom-penh-addr {
    text-align-last: auto;
}

.phnom-penh-icon {
    position: relative;
    top: 15px;
    margin-right: 10px;
    fill: #333A3E;
}

.phnom-penh-fa-map-marker {
    margin-left: 10px;
    margin-right: 30px;
}

.phnom-penh-fa-phone {
    margin-left: 5px;
    margin-right: 20px;
}

#phnom-penh-det-title {
    border: 2px solid #333A3E;
    width: 70%;
    margin-top: -25px;
    margin-bottom: 30px;
    margin-left: 0;
}

.phnom-penh-quotes {
    margin-top: 4em;
}

.phnom-penh-img {
    max-height: 350px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.phnom-penh-img-txt-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
}

.phnom-penh-map img {
    max-height: 300px;
}

.phnom-penh-noodles {
    float: right;
    padding-left: 2em;
}

.phnom-penh-list a {
    color: #333A3E;
}

#phnom-penh-photo-cred {
    font-size: 10px;
}

#phnom-penh-header-bg {
    background-image: url('img/phnomHeader.png');
    height: 490px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}