.row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.gray-background {
    background-color: #D8DCDE;
}

#Phnom {
    width: 100%;
}

#Young {
    width: 100%;
}

.cardIMG {
    width: 100%;
    height: 375px;
}